@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;

400;700&display=swap);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-80 {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: white;
}

header div.space-between {
  height: 7rem;
}

header div.space-between img {
  height: 5rem;
}

header ul {
  list-style: none;
}

header ul li {
  padding: 0 1rem;
}

header ul li a {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  color: #464646;
  text-transform: uppercase;
  text-decoration: none;
  padding: 2.5rem 0;
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  transition: border 500ms;
}

header ul li a:hover {
  color: #0082F9;
  border-bottom: 5px solid #0082F9;
}

main {
  background-color: #1C1C1C;
}

main #jumbo {
  height: 20rem;
  overflow: hidden;
}

main #jumbo img {
  width: 100%;
}

main #series {
  position: relative;
}

main #series .cs-container {
  position: absolute;
  left: 2rem;
  top: -1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #0082F9;
  color: white;
  padding: 0.6rem 1rem;
}

main #series div.flex {
  display: flex;
  overflow-x: scroll;
}

main #series div.flex .card {
  padding: 3rem 1rem;
}

main #series div.flex .card h4 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  margin-top: 0.5rem;
}

